<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="All tests" verbose="1" thread-count="5" parallel="classes">
    <test name="All tests">
        <classes>
            <class name="org.selenium.tests.CartTest"></class>
            <class name="org.selenium.tests.CheckoutTest"></class>
            <class name="org.selenium.tests.LoginDuringCheckoutTest"></class>
            <class name="org.selenium.tests.LoginTest"></class>
            <class name="org.selenium.tests.NavigationTest"></class>
            <class name="org.selenium.tests.SearchTest"></class>
        </classes>
    </test>
</suite>
